* {
    background: dodgerblue;
}

.page-container {
    display: grid;
    grid-template-rows: ;
    grid-template-columns: ;
}

.pokedex-container {
    display: flex;
    /* margin: auto; */
    justify-content: center;
    /* text-align: center; */
}